[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
django-heroku = "*"
numpy = "*"
keras = "*"
pillow = "*"
tensorflow-cpu = "*"
opencv-python-headless = "*"
adafruit-io = "*"

[dev-packages]

[requires]
python_version = "3.8"
